<h1>Bonjour merci de confirmer votre adresse mail</h1>

<p>
    Vous vous êtes inscrit sur notre site et nous vous en remercions merci de cliquer sur le lien afin de confirmer votre inscription: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    This link will expire in {{ expiresAt|date('g') }} hour(s).
</p>

<p>
    Cheers!
</p>
