@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    position: absolute;
    width: 100%;
}
footer {
    color: #e0e0e0;
    position: page;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(0deg, #000, #800080)
}
ul {
    list-style: none;
}
a {
    color: #5b0f7e;
}
.registerSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 7em;
}


