@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  position: absolute;
  width: 100%;
}
footer {
  color: #e0e0e0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: center;
  background: linear-gradient(0deg, #000, #800080)
}
ul {
  list-style: none;
}
a {
  color: #800080;
}
a:hover {
  color: #708090;
}
.registerSection, .loginSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 7em;
}
